name: Manage Labels

on:
  push:
    branches:
      - main
      - master
    paths:
      - .github/labels.yml
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  labels:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'lukaspustina'
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Sync labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}